include "startup.kdl"
include "peripherals.kdl"
include "windows.kdl"
include "bindings.kdl"

hotkey-overlay {
	skip-at-startup
	hide-not-bound
}

overview {
	zoom 0.3
	backdrop-color "#001010"
	workspace-shadow {
		softness 50
		spread 50
		offset x=25 y=45
		color "#ffffff10"
	}
}

window-rule {
	match app-id="kitty"
	opacity 0.95
}

