* {
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: @theme_fg_color;
}


window#waybar {
	background-color: alpha(@theme_base_color, 0.5);
	border: 3px @theme_fg_color solid;
	border-radius: 20px;
}


.modules-right > * > * {
	margin: 0 10px;
}


.modules-left {
	margin-left: 15px;
}


.modules-right {
	margin-right: 15px;
}


#workspaces button {
	padding: 0 5px;
	border-radius: 15px;
}


#workspaces button.active label {
	color: @theme_selected_bg_color;
}


#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
}

#workspaces button label {
	letter-spacing: 0px;
	color: @theme_fg_color;
}

#workspaces button.empty label{
	color: @theme_unfocused_fg_color;
}

#workspaces button.empty#niri-workspace-5 label,
#workspaces button.empty#niri-workspace-6 label,
#workspaces button.empty#niri-workspace-7 label,
#workspaces button.empty#niri-workspace-8 label,
#workspaces button.empty#niri-workspace-9 label {
	color: transparent;
}


#audio_sink label, 
#audio_source label { 
	padding: 0 5px 0 0;
}


#pulseaudio-slider {
	padding: 0 0 0 10px;
}


#pulseaudio-slider slider {
	background-color: transparent;
	box-shadow: none;
}


#pulseaudio-slider trough {
	min-height: 10px;
	min-width: 80px;
	border-radius: 5px;
	background-color: @theme_bg_color;
}


#pulseaudio-slider highlight {
	min-width: 10px;
	background: @theme_selected_bg_color;
	border-radius: 5px;
	border-width: 0;
	margin: 1px;
}


#pulseaudio.muted {
	background-color: @theme_unfocused_bg_color;
	color: @theme_unfocused_fg_color;
}


#temperature.critical {
	background-color: red;
}


#keyboard-state {
	padding: 0 0px;
	margin: 0 5px;
	min-width: 16px;
}

#keyboard-state > label {
	padding: 0 5px;
}

#keyboard-state > label.locked {
	color: @theme_selected_bg_color;
}


#tray > .passive {
	-gtk-icon-effect: dim;
}


#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}


#custom-power-menu {
	color: #ff8d8d;
}
